<!-- <h1> Reto día 5 </h1>
<p>{{title}}</p> -->

<p *ngIf = "name">El nombre es: {{name}}</p>
<input type="text" [(ngModel)]="name">


<!-- <ul *ngFor="let city of cities">
  <li>{{city}}</li>
</ul> -->

<ul *ngFor="let city of cities">
  <!-- <li [ngClass]="'selected blue'">{{city}}</li> -->
  <!-- <li [ngClass]="['selected','blue'] ">{{city}}</li> -->
  <!-- <li [ngClass]="{'selected' :city === 'Barcelona', 'blue': city !== 'Barcelona'}">{{city}}</li> -->
  <!-- <li [ngStyle]="{'color' :'white', 'background-color': city === 'Madrid' ? 'blue':'green'}">{{city}}</li> -->

  <li (click)="onCityClicked(city)" [ngClass]="{'selected' :city === selection}">{{city}}</li>

</ul>

<div *ngIf = "selection">
  <p>Your city is: {{selection}}</p>
  <!-- <button (click)="onClear()">Clear your selection</button> -->
  <app-button (click)="onClear()" [color]="'blue'" [label]="'Clear your selection'"></app-button>
  <!-- <app-button (click)="onClear()" [color]="'green'" [label]="'Dominicode'"></app-button>
  <app-button (click)="onClear()" [color]="'red'" [label]="'HolaMundo'"></app-button> -->
</div>
